@import url('https://fonts.googleapis.com/css?family=Istok+Web|Monda');
/*
Activar la fuente de letra con:
font-family: 'Monda', sans-serif;
font-family: 'Istok Web', sans-serif;
 */
.divisor{
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
.cabecera{
    height: 6em;
    padding-top: 1.5em;
    background-color: black;
    width: 100%;
}
.cabecera-texto{
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bolder;
}
.monda{
    font-family: 'Monda', sans-serif;
}
.istok{
    font-family: 'Istok Web', sans-serif;
}
