<script src="js/admin/usuario.js"></script>
<script src="js/admin/autor.js"></script>
<script src="js/admin/tdocumento.js"></script>
<script src="js/admin/carrera.js"></script>
<script src="js/admin_funcs.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">
        <img src="im/logo.png" width="330" height="100" 
        	class="d-inline-block float-left" alt="" style="max-width: 100%">
    </a>
    <button class="navbar-toggler" type="button" 
    	data-toggle="collapse" data-target="#navbarSupportedContent" 
    	aria-controls="navbarSupportedContent" aria-expanded="false" 
    	aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" onclick="admin(0);">
                	Inicio
                	<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" 
                	id="navbarDropdown" role="button" data-toggle="dropdown" 
                	aria-haspopup="true" aria-expanded="false">
                    Administrar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="javascript:admin('admin_doc.php')">Subir Documentos</a>
                    <a class="dropdown-item" href="javascript:admin('admin_aut.php');">Autores</a>
                    <a class="dropdown-item" href="javascript:admin('admin_usrs.php');">Usuarios</a>
                    <a class="dropdown-item" href="javascript:admin('admin_addesp.php');">Carreras</a>
                    <a class="dropdown-item" href="javascript:admin('admin_addtdoc.php');">Tipos de documento</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:admin('admin_changepass.html');">Cambiar mi contraseña</a>
                    <a class="dropdown-item" href="javascript:logout();">Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br>
<div id="mensajes" class="container-fluid"></div>
<div id="op"></div>
