<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h4>Super Inicio</h4>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron">
                <h4>Segun inicio</h4>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron">
                <h4>Tercer Resul</h4>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h4>Jumbotron Principal</h4>
    </div>
</div>