<div class="container">
    <h1>Subir un documento</h1>
    <br>
    <form>
        <div class="form-group">
            <div class="col-form-label">
                <label>Tipo de trabajo</label>
            </div>
            <div id="combo_carreras"></div>
        </div>
        <div class="form-group">
            <div class="col-form-label">
                <label>Especialidad</label>
            </div>
            <div id="combo_documentos"></div>
        </div>
        <div class="form-group">
            <div class="col-form-label">
                <label for="doc_subm">Cédula de Autor</label>
            </div>
            <input id="doc_subm" type="text" class="form-control" placeholder="Nombre del documento">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success float-right">
        </div>
    </form>
</div>