<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1>Super Inicio</h1>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron">
                <h1>Segun inicio</h1>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron">
                <h1>Tercer Resul</h1>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1>Jumbotron Principal</h1>
    </div>
</div>