<script>
    /*
    1 = comboCarreras
    2 = comboTipoDocumentos
     */
    $(function () {
        admin(0);
    })
    function admin(op) {
        switch (op){
            case 0:
                addF("layout/admin_home.html");
                w3.includeHTML();
                break;
            case 1:
                addF("layout/admin_doc.html");
                w3.includeHTML();
                CargarCombosDocs(1,"combo_carreras");
                CargarCombosDocs(2,"combo_documentos");
                break;
            case 2:
                addF("layout/admin_usrs.html");
                w3.includeHTML();
                break;
        }
    }
    function addF(a) {
        document.getElementById('op').setAttribute("w3-include-html",a);
    }
    function CargarCombosDocs(n,contenedor) {
        $.ajax({
            type: 'POST',
            url: 'core/php/funcs/combos.php',
            data:{combo:n},
            success: function (data) {
                $("#" + contenedor).html(data);
            }
        });
    }
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Repositorio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" onclick="admin(0);">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administrar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" onclick="admin(1);">Subir Documentos</a>
                    <a class="dropdown-item" href="#" onclick="admin(2);">Usuarios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br>
<div id="op"></div>